$color-vino:#4F1D28;
$color-lila:#A686AF;
$color-menta:#00E49B;
$color-rosa:#EF507A;
$color-celeste:#1AA3A3;
$color-blanco:#fff;
$color-negro:#000;
$title-font:Trebuchet MS, Arial,sans-serif;
$body-font:Verdana, Arial,sans-serif;