.list-project .more-image{
		background: url(../img/more.png) no-repeat;
		background-size:50px 50px;
}
.list-project .more-image:hover{
		background: url(../img/more_hover.png) no-repeat;
		background-size:50px 50px;
}