/*
  Indice Contacto:
    #Section Background Contact
*/
/* #Section Background Contact */
.section-contact{
  background: url(../img/background-contact.jpg) center no-repeat;
  height: 566px;
  background-size: 100%;
  width: 100%;
  margin-top: 8px;
  font-family:$title-font;
}